CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
CMakeLists.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
main
fib
.idea/
perf.data
perf.data.old
cmake-build-debug
output.txt
**/**.so
venv
**/__pycache__
**/**.o
build
build/**
swap_storage/**
swap_storage