#Cmake and CLion
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeLists.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug
.idea/

#Tests
pytest/number_files/*

#Perf
perf.data
perf.data.old

#Python
venv
**/__pycache__

#Swap
swap_storage/**
swap_storage

#Compilation:
**/**.o
build
build/**

#Compilation results:
fib
**/**.so

#Output files:
output.txt
res**.txt

# plots
*.png